# Befor runing the appication you need to create .env file in root folder
# After that we need add below code and enter values for them 

JIRA_BASE_URL="https://your-domain.atlassian.net"
JIRA_EMAIL="Gmail id"
JIRA_API_TOKEN="atlassian jira token"


SYNC_LOOKBACK_DAYS="No of day's data you want"
JIRA_PROJECT_KEY="Project key"
MAX_RESULTS="maximum number of result you want"